@charset "UTF-8";

/*===============================

　PC

　　1.common
　　2.header
　　3.main
　　4.footer
　　5.smooth-scroll
　　6.button
　　7.pager

================================*/

/*
　1.common
================================*/
* {
  font-family: 'メイリオ';
}

.sp-none {
  display: block;
}

.pc-none {
  display: none;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/*
　2.header
================================*/
.header {
  display: flex;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 5px 3px -3px rgba(0,0,0,0.1);
  list-style: none;
}

.header__logo {
  margin-right: auto;
}

.header__logo a {
  display: block;
}

.header__logo img {
  display: block;
  height: 60px;
}

.header__nav {
  display: flex;
}

.header__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60px;
  margin-right: 15px;
  list-style: none;
}

.header__nav-item-image {
  width:30px;
  height:30px;
  border-radius: 50%;
}

.header__dropDown {
  display: none;
}

.header__nav-item:hover .header__dropDown {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 60px;
  right: 0;
  width: 150px;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1);
  background-color: #fff;
  font-size: 14px;
}

.header__dropDown-item {
  display: block;
  padding-left: 15px;
  line-height: 40px;
  color: #333;
  text-decoration: none;
}

.header__dropDown-item:hover {
  background: #0096DE;
  color: #fff;
}

.header__dropDown-item--userName {
  padding-left: 0;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: #689ACA;
}

.header__dropDown-item--userName:hover {
  background: none;
  color: #689ACA;
}

.header__dropDown-item a {
  display: block;
  text-decoration: none;
  color: #333;
}

.header__dropDown-item:hover a {
  color: #fff;
}

/*
　3.main
================================*/
.main {
  height: 100%;
  padding: 60px 0 20px;
  background-color: #EAEDF2;
}

.title {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  line-height: 102px;
  background-color: #0096DE;
  color: #FFF;
}

.table {
  max-width: 1000px;
  width: 90%;
  height: 100%;
  margin: 0 auto 50px;
  background-color: #FFF;
  border-top: solid 5px #0096DE;
}

.table__title {
  width: 95%;
  margin: 0 auto 20px;
  line-height: 40px;
  color: #0096DE;
}

.table__body {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 20px;
}

/*
　4.footer
================================*/
.footer {
  width: 100%;
  text-align: center;
  line-height: 41px;
  background-color: #0096DE;
  font-size: 14px;
  color: #FFF;
}

/*
　5.smooth-scroll
================================*/
.page_top {
  position: fixed;
  right: 20px;
  bottom: 45px;
  width: 50px;
  height: 50px;
  background: #689ACA;
  border-radius: 50%;
}

.page_top a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

.page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/*
　6.button
================================*/
.btn {
  padding: 15px 0;
  text-align: right;
}

.btn__search{
  color: #FFF;
  width:90px;
  height: 30px;
  text-align: center;
  background-color: #31C453;
}

.btn__search:hover{
  background-color: rgba(49,196,83,0.7);
}

/*
　7.pager
================================*/
.pager {
  text-align: center;
}

.pager-img {
  width: 20px;
  height: 20px;
}

.pager-item {
  margin: 10px 30px;
}

/*===============================

　SP

　　1.common
　　2.header

================================*/
@media only screen and (max-width: 767px) {

/*
　1.common
================================*/
  .sp-none {
    display: none;
  }

  .pc-none {
    display: block;
  }

/*
　2.header
================================*/
  .global-nav {
    position: fixed;
    right: -320px;
    top: 0;
    width: 300px;
    height: 100vh;
    padding-top: 60px;
    background-color: #0096DE;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto;
  }

  .global-nav__user {
    display: flex;
    padding: 0 60px 30px;
  }

  .global-nav__userIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
  }

  .global-nav__userIcon-image {
    width:30px;
    height:30px;
    border-radius: 50%;
  }

  .global-nav__userName {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 25px;
    color: #fff;
  }

  .hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    cursor: pointer;
    z-index: 300;
  }

  .global-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .global-nav__item {
    text-align: center;
    padding: 7px 60px;
  }

  .global-nav__item a {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #fff;
  }

  .global-nav__item a:hover {
    background-color: #fff;
  }

  .hamburger__line {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 2px;
    background-color: #111;
    transition: all .6s;
  }

  .hamburger__line--1 {
    top: 20px;
  }

  .hamburger__line--2 {
    top: 30px;
  }

  .hamburger__line--3 {
    top: 40px;
  }

  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
  }

  .nav-open .global-nav {
    right: 0;
  }

  .nav-open .black-bg {
    opacity: .8;
    visibility: visible;
  }

  .nav-open .global-nav__item a:hover {
    color: #0096DE;
  }

  .nav-open .hamburger__line--1 {
    transform: rotate(45deg);
    top: 30px;
    background-color: #fff;
  }

  .nav-open .hamburger__line--2 {
    width: 0;
    left: 50%;
  }

  .nav-open .hamburger__line--3 {
    transform: rotate(-45deg);
    top: 30px;
    background-color: #fff;
  }
}