@charset "UTF-8";

/*===============================

　PC

　　1.common
　　2.header
　　3.main
　　4.footer

================================*/

/*
　1.common
================================*/
.sp-none {
  display: block;
}

.pc-none {
  display: none;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/*
　2.header
================================*/
.header {
  display: flex;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 5px 3px -3px rgba(0,0,0,0.1);
  list-style: none;
}

.header__logo {
  margin-right: auto;
}

.header__logo a {
  display: block;
}

.header__logo img {
  display: block;
  height: 60px;
}

.header__nav {
  display: flex;
}

.header__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60px;
  margin-right: 15px;
  list-style: none;
}

.header__dropDown {
  display: none;
}

.header__nav-item:hover .header__dropDown {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 60px;
  right: 0;
  width: 150px;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1);
  background-color: #fff;
  font-size: 14px;
}

.header__dropDown-item {
  display: block;
  padding-left: 15px;
  line-height: 40px;
  color: #333;
  text-decoration: none;
}

.header__dropDown-item:hover {
  background: #0096DE;
  color: #fff;
}

.header__dropDown-item--userName {
  padding-left: 0;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: #689ACA;
}

.header__dropDown-item--userName:hover {
  background: none;
  color: #689ACA;
}

.header__dropDown-item a {
  display: block;
  text-decoration: none;
  color: #333;
}

.header__dropDown-item:hover a {
  color: #fff;
}

/*
　3.main
================================*/
.main {
  height: 100%;
  padding-top: 60px;
  background-color: #EAEDF2;
}

.title {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  line-height: 102px;
  background-color: #0096DE;
  color: #FFF;
}

.menu {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 50px;
}

.menu__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.menu__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 272px;
  height: 140px;
  list-style: none;
  background-color: #689ACA;
}

.menu__nav-item a {
  text-decoration: none;
  color: #fff;
}

.menu__nav-item img {
  display: block;
  width: 80px;
  margin: 0 auto 15px;
}

.menu__nav-item-text {
  display: block;
  text-align: center;
  font-weight: bold;
}

.table {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto 50px;
  background-color: #FFF;
  border-top: solid 5px #0096DE;
}

.table__title {
  width: 95%;
  margin: 0 auto 20px;
  line-height: 40px;
  color: #0096DE;
}

.table__body {
  width: 95%;
  margin: 0 auto 20px;
}

.table__thead {
  width: 50%;
  padding: 10px 0;
  background-color: #0096DE;
  color: #fff;
}

.table__tbody {
  width: 50%;
  padding: 10px 20px;
  text-align: center;
  background-color: #EAEDF2;
}

.table__tbody--subject {
  text-align: left;
}

/*
　4.footer
================================*/
.footer {
  width: 100%;
  text-align: center;
  line-height: 41px;
  background-color: #0096DE;
  font-size: 14px;
  color: #fff;
}