@charset "UTF-8";

/*===============================

　PC

　　1.main

================================*/

/*
　1.main
================================*/
.table__horizontal__th {
  width: 100%;
  text-align: left;
  padding: 0 15px;
  background-color: #0096DE;
  color: #FFF;
}

/*===============================

　SP

　　1.main

================================*/
@media only screen and (max-width: 767px) {

  /*
  　1.main
  ================================*/

}