@charset "UTF-8";

/*===============================

　PC

　　1.

================================*/

/*
　1.common
================================*/

.table__thead {
  width: 50%;
  padding: 10px 0;
  background-color: #0096DE;
  color: #fff;
}

.table__tbody {
  width: 50%;
  padding: 10px 20px;
  text-align: center;
  background-color: #EAEDF2;
}

.table__tbody--subject {
  text-align: left;
}