@charset "UTF-8";
/*===============================

　PC

　　1.conditional
　　2.result

================================*/
/*
　1.conditional
================================*/
.conditional {
  width: 95%;
  margin: 0 auto 20px;
}
.conditional__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.conditional__item {
  width: 50%;
}
.conditional__item:nth-child(odd) {
  padding: 10px 30px 10px 0;
}
.conditional__item:nth-child(even) {
  padding: 10px 0 10px 30px;
}
.conditional__label {
  display: block;
  padding: .25em .25em .25em .75em;
  border-left: 6px solid #0096DE;
}
.conditional__pullDown {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 1em auto;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 2px;
  background: #fff;
}
.conditional__pullDown::before {
  position: absolute;
  top: 1.1em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666;
  pointer-events: none;
}
.conditional__pullDown-list {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 8px 38px 8px 8px;
  color: #666;
}
.conditional__txtField {
  width: 100%;
  height: 42px;
  margin: 1em auto;
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 2px;
  background: #fff;
}
.conditional__years {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 1em auto;
}
.conditional__years--txtField {
  width: 100%;
  height: 42px;
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 2px;
  background: #fff;
}
.conditional__years--txt {
  height: 42px;
  padding: 8px;
}
.conditional__skill {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 1em auto;
}
.conditional__skill--txtField {
  width: 100%;
  height: 42px;
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 2px;
  background: #fff;
  color: #333;
}
.conditional__skill--btn {
  width: 70px;
  height: 42px;
  margin-left: 15px;
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 2px;
  background: #fff;
  color: #333;
}

/*
　1.conditional
================================*/
.result {
  width: 95%;
  margin: 0 auto 20px;
}
.result__list {
  list-style: none;
}
.result__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 25px;
}
.result__item-detail {
  width: calc(33.3% - 10px);
}
.result__item-detail-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.result__item-detail-icon--img {
  display: block;
  width: 60px;
  height: 60px;
  object-fit: scale-down;
  margin: 0 auto;
}
.result__item-detail-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.result__item-detail-name--jp {
  font-size: 20px;
}
.result__item-detail-name--en {
  font-size: 14px;
}
.result__item-detail-employee {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}
.result__item-detail-mail {
  width: 18px;
}

/*# sourceMappingURL=list.css.map */
