@charset "UTF-8";

/*===============================

　PC

　　1.conditions
　　2.result

================================*/

/*
　1.conditions
================================*/
select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

.conditions {
  max-width: 1000px;
  width: 90%;
  height: 100%;
  margin: 0 auto 50px;
}

.conditions__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.conditions__list__item {
  white-space: nowrap;
  flex-basis:50%
}

.conditions__list__item-label {
  font-weight: bold;
  border-left: solid 6px #0096DE;
  margin: 10px auto 12px;
  padding-left: 10px;
}

.conditions__list__item-box {
  width: 400px;
  border: solid 1px #a9a9a9;
}

.conditions__list__item-textbox-year {
  width: 173px;
  border: solid 1px #a9a9a9;
}

/*
　2.result
================================*/
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto 50px;
  list-style: none;
}

.result-img {
  width: 110px;
  height: 110px;
  margin:auto;
}

.result__list {
  margin:0px auto;
}

.result__list-name {
  text-align: center;
  font-size: 25px;
}

.result__list-title {
  font-weight: bold;
}

.result__list-item_info {
  margin-left: 30px;
}

/*===============================

　SP

　　1.conditions
　　2.result
　　3.pager

================================*/
@media only screen and (max-width: 767px) {

  /*
　　1.contents-conditions
  ================================*/

  }