@charset "UTF-8";

/*===============================

　PC

　　1.main
　　2.button

================================*/

/*
　2.main
================================*/
.pullDown-lis--skill {
  min-width: 65px;
}

/*
　2.button
================================*/
.update {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.update__btn {
  display: block;
  padding: 15px;
  text-align: right;
}
