@charset "UTF-8";

/*===============================

　PC

　　1.common
　　2.header
　　3.footer
　　4.smooth-scroll

================================*/

/*
　1.common
================================*/
* {
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Hiragino Kaku Gothic ProN",YuGothic,"Yu Gothic",Verdana,Meiryo,sans-serif;
}
.sp-none {
  display: block;
}
.pc-none {
  display: none;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.main {
  padding: 60px 0;
  background-color: #EAEDF2;
}
.title {
  text-align: center;
  line-height: 102px;
  background-color: #0096DE;
  color: #FFF;
}
.btn {
  min-width: 90px;
  height: 40px;
  padding: 0 10px;
  text-align: center;
  border-radius: 2px;
  color: #FFF;
  &--search {
    background-color: #31C453;
  }
  &--change {
    background-color: #0096DE;
  }
}
.txtField {
  height: 35px;
  padding: 0 8px;
  border: 1px solid #bbb;
  border-radius: 2px;
  background: #fff;
}
.txtArea {
  width: 100%;
  min-height: 90px;
  padding: 0 8px;
  border: 1px solid #bbb;
  border-radius: 2px;
  background: #fff;
}
.pullDown {
  position: relative;
  border: 1px solid #bbb;
  border-radius: 2px;
  background: #fff;
  &::before {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666;
    pointer-events: none;
  }
  &__list {
    width: 100%;
    height: 35px;
    padding: 0 45px 0 8px;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    color: #666;
  }
}
.radio {
  margin-right: 15px;
  &-btn {
    display: none;
    & + .radio-fontas:before {
      margin-right: 5px;
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      color: #ccc;
      content: '\f192';
    }
    &:checked + .radio-fontas:before {
      margin-right: 5px;
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      color: #689ACA;
      content: '\f192';
    }
  }
  &-fontas {
    vertical-align: bottom;
    font-size: 20px;
  }
}
.asterisk {
  color: #ed5c65;
}
.contents {
  max-width: 1024px;
  width: 100%;
  margin: 50px auto 0;
  background-color: #FFF;
  border-top: solid 5px #0096DE;
  &__title {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 15px;
    line-height: 40px;
    color: #0096DE;
  }
}
.table {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 15px;
  &__thead {
    padding: 10px 10px;
    background-color: #0096DE;
    color: #fff;
    &--center {
      text-align: center;
    }
    &--left {
      min-width: 164px;
      width: 30%;
      text-align: left;
    }
  }
  &__tbody {
    align-items: center;
    padding: 10px;
    background-color: #EAEDF2;
    &__frame {
      margin-right: 5px;
    }
  }
}

/*
　2.header
================================*/
.header {
  display: flex;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 5px 3px -3px rgba(0,0,0,0.1);
  list-style: none;
  z-index: 1;
  &__logo {
    margin-right: auto;
    a {
      display: block;
    }
    img {
      display: block;
      height: 60px;
    }
  }
  &__nav {
    display: flex;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 60px;
      margin-right: 15px;
      list-style: none;
      &:hover .header__dropDown {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 60px;
        right: 0;
        width: 150px;
        box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1);
        background-color: #fff;
        font-size: 14px;
      }
      &--private {
        display: block;
        width: 30px;
        height: 30px;
        object-fit: scale-down;
      }
    }
  }
  &__dropDown {
    display: none;
    &-item {
      display: block;
      padding-left: 15px;
      line-height: 40px;
      color: #333;
      text-decoration: none;
      &:hover {
        background: #0096DE;
        color: #fff;
        a {
          color: #fff;
        }
      }
      a {
        display: block;
        text-decoration: none;
        color: #333;
      }
      &--userName {
        padding-left: 0;
        line-height: 50px;
        text-align: center;
        font-weight: bold;
        color: #689ACA;
        &:hover {
          background: none;
          color: #689ACA;
        }
      }
    }
  }
}

/*
　3.footer
================================*/
.footer {
  text-align: center;
  line-height: 41px;
  background-color: #0096DE;
  font-size: 14px;
  color: #fff;
}

/*
　4.smooth-scroll
================================*/
.page_top {
  position: fixed;
  right: 20px;
  bottom: 45px;
  width: 50px;
  height: 50px;
  background: #689ACA;
  border-radius: 50%;
  a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    &::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f106';
      font-size: 25px;
      color: #fff;
      position: absolute;
      width: 25px;
      height: 25px;
      top: -5px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }
  }
}

/*===============================

　Tablet

　　1.common

================================*/
@media only screen and (max-width: 1024px) {

/*
　1.common
================================*/
  .contents {
    width: 95%;
  }
}

/*===============================

　SP

　　1.common
　　2.header
　　3.footer
　　4.smooth-scroll

================================*/
@media only screen and (max-width: 767px) {

/*
　1.common
================================*/
  .sp-none {
    display: none;
  }
  .pc-none {
    display: block;
  }
  .btn {
    text-align: center;
    a {
      padding: 15px 30px;
    }
    &--green {
      width: 100%;
      height: 50px;
    }
  }

/*
　2.header
================================*/
  .global-nav {
    position: fixed;
    right: -320px;
    top: 0;
    width: 300px;
    height: 100vh;
    padding-top: 60px;
    background-color: #0096DE;
    transition: all .6s;
    z-index: 3;
    overflow-y: auto;
    &__user {
      display: flex;
      padding: 0 60px 30px;
      &Icon {
        width: 40px;
        height: 40px;
        background-image: url(/images/img_icon_private.png);
        background-size: cover;
        background-position: center;
      }
      &Name {
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 25px;
        color: #fff;
      }
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &__item {
      text-align: center;
      padding: 7px 60px;
      a {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        color: #fff;
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
  .hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    cursor: pointer;
    z-index: 4;
    &__line {
      position: absolute;
      left: 15px;
      width: 30px;
      height: 2px;
      background-color: #111;
      transition: all .6s;
      &--1 {
        top: 20px;
      }
      &--2 {
        top: 30px;
      }
      &--3 {
        top: 40px;
      }
    }
  }
  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
  }
  .nav-open {
    .global-nav {
      right: 0;
      &__item a:hover {
        color: #0096DE;
      }
    }
    .black-bg {
      opacity: .8;
      visibility: visible;
    }
    .hamburger__line {
      &--1 {
        transform: rotate(45deg);
        top: 30px;
        background-color: #fff;
      }
      &--2 {
        width: 0;
        left: 50%;
      }
      &--3 {
        transform: rotate(-45deg);
        top: 30px;
        background-color: #fff;
      }
    }
  }
}