@charset "UTF-8";

/*===============================

　PC

　　1.menu
　　2.table

================================*/

/*
　1.menu
================================*/
.menu {
  max-width: 1024px;
  width: 90%;
  margin: 50px auto 0;
  &__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      background-color: #689ACA;
      &:hover {
        background: rgba(104, 154, 202, .5);
      }
      a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #fff;
      }
      img {
        display: block;
        width: 80px;
        height: 80px;
        object-fit: scale-down;
        margin: 20px auto 10px;
      }
      &--myIcon {
        border-radius: 50%;
      }
      &-text {
        display: block;
        margin: 0 auto 20px;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

/*
　2.table
================================*/
.table {
  &__body {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  &__thead {
    width: 50%;
    padding: 10px 0;
    background-color: #0096DE;
    color: #fff;
  }
  &__tbody {
    width: 50%;
    padding: 10px 20px;
    text-align: center;
    background-color: #EAEDF2;
    &--subject {
      text-align: left;
    }
  }
}