@charset "UTF-8";

/*===============================

　PC

　　1.conditional
　　2.result

================================*/

/*
　1.conditional
================================*/
.conditional {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 15px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  &__item {
    width: 50%;
    &:nth-child(odd) {
      padding: 15px 30px 15px 0;
    }
    &:nth-child(even) {
      padding: 15px 0 15px 30px;
    }
  }
  &__label {
    display: block;
    padding: .25em .25em .25em .75em;
    border-left: 6px solid #0096DE;
  }
  &__pullDown {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: .5em auto;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 2px;
    background: #fff;
    &::before {
      position: absolute;
      top: 1.1em;
      right: 0.9em;
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #666;
      pointer-events: none;
    }
    &-list {
      width: 100%;
      padding-right: 1em;
      cursor: pointer;
      text-indent: 0.01px;
      text-overflow: ellipsis;
      border: none;
      outline: none;
      background: transparent;
      background-image: none;
      box-shadow: none;
      -webkit-appearance: none;
      appearance: none;
      padding: 8px 38px 8px 8px;
      color: #666;
    }
  }
  &__txtField {
    width: 100%;
    height: 42px;
    margin: 1em auto;
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 2px;
    background: #fff;
  }
  &__years {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 1em auto;
    &--txtField {
      width: 100%;
      height: 42px;
      padding: 8px;
      border: 1px solid #bbb;
      border-radius: 2px;
      background: #fff;
    }
    &--txt {
      height: 42px;
      padding: 8px;
    }
  }
  &__skill {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 1em auto;
    &--txtField {
      width: 100%;
      height: 42px;
      padding: 8px;
      border: 1px solid #bbb;
      border-radius: 2px;
      background: #fff;
      color: #333;
    }
    &--btn {
      width: 70px;
      height: 42px;
      margin-left: 15px;
      padding: 8px;
      border: 1px solid #bbb;
      border-radius: 2px;
      background: #fff;
      color: #333;
    }
  }
}

/*
　2.result
================================*/
.result {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 15px;
  &__list {
    list-style: none;
  }
  &__item {
    padding: 15px 0;
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      list-style: none;
    }
    &-detail {
      width: calc(33.3% - 10px);
      &-icon--img {
        display: block;
        width: 60px;
        height: 60px;
        object-fit: scale-down;
        margin: 0 auto;
      }
      &-name {
        display: flex;
        justify-content: center;
        flex-direction: column;
        &--jp {
          font-size: 20px;
        }
        &--en {
          font-size: 14px;
        }
      }
      &-employee {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 14px;
      }
      &-mail {
        width: 18px;
      }
    }
  }
}
.pager {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 15px;
  &__list {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    list-style: none;
    &-item {
      width: 50px;
      height: 50px;
      margin: 0 2px;
      padding: 0;
      background:#0096DE;
      text-align: center;
      a {
        display:table;
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none;
        &:hover,
        &.active{
          background: #99CCFF;
          color: #333;
        }
        span {
          display:table-cell;
          vertical-align:middle;
        }
      }
    }
  }
}

/*===============================

　SP

　　1.conditional
　　2.result
　　3.pager

================================*/
@media only screen and (max-width: 767px) {
  .conditional {
    &__list {
      display: block;
    }
    &__item {
      width: 100%;
      &:nth-child(odd) {
        padding: 10px 30px;
      }
      &:nth-child(even) {
        padding: 10px 30px;
      }
    }
  }

/*
　2.result
================================*/
  .result {
    &__item {
      padding: 20px 30px;
      &-detail {
        &:nth-child(odd) {
          width: 103px;
        }
        &:nth-child(even) {
          width: auto;
          padding-left: 20px;
        }
        &-name {
          padding-bottom: 10px;
        }
        &-mail {
          display: block;
          width: 32px;
          object-fit: scale-down;
          padding-top: 10px;
        }
      }
    }
  }

/*
　3.pager
================================*/
  .pager {
    &__list {
      padding: 15px 30px;
      &-item {
        display: none;
        &.pre,
        &.next {
          display: block;
          width: 100%;
          text-align: center;
          a {
            width: 100%;
            text-align: center;
          }
        }
        &.pre span::after {
          content: "　前の10件へ";
        }
        &.next span::before {
          content: "次の10件へ　";
        }
      }
    }
  }
}