@charset "UTF-8";
@import "color";

/*===============================

　PC

　　1.common
　　2.conditional
　　3.result

================================*/

/*
　1.common
================================*/
.pullDown {
  margin: .5em auto;
}
.txtField {
  width: 100%;
  margin: .5em auto;
}

/*
　2.conditional
================================*/
.conditional {
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    &__item {
      width: 50%;
      &:nth-child(odd) {
        padding: 15px 30px 15px 0;
      }
      &:nth-child(even) {
        padding: 15px 0 15px 30px;
      }
    }
  }
  &__label {
    display: block;
    padding: .25em .25em .25em .75em;
    border-left: 6px solid $color-main;
  }
  &__years {
    display: flex;
    align-items: center;
    justify-content: left;
    &--txt {
      display: flex;
      align-items: center;
      height: 35px;
      margin: .5em auto;
      padding: 0 8px;
    }
  }
  &__skill {
    display: flex;
    align-items: center;
    justify-content: left;
    &--btn {
      width: 70px;
      height: 35px;
      margin: .5em auto .5em 5px;
      padding: 0 8px;
      border: 1px solid #bbb;
      border-radius: 2px;
      background: #fff;
      color: #333;
    }
  }
  &__btn {
    padding: 15px 0;
    text-align: right;
  }
}

/*
　3.result
================================*/
.result {
  &__list {
    list-style: none;
  }
  &__item {
    padding: 15px 0;
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      list-style: none;
    }
    &-detail {
      width: calc(33.3% - 10px);
      &-icon--img {
        display: block;
        width: 60px;
        height: 60px;
        object-fit: scale-down;
        margin: 0 auto;
      }
      &-name {
        display: flex;
        justify-content: center;
        flex-direction: column;
        &--jp {
          font-size: 20px;
        }
        &--en {
          font-size: 14px;
        }
      }
      &-employee {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 14px;
      }
      &-mail {
        width: 18px;
      }
    }
  }
}
.pager {
  &__list {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    list-style: none;
    &-item {
      width: 50px;
      height: 50px;
      margin: 0 2px;
      padding: 0;
      background:$color-main;
      text-align: center;
      a {
        display:table;
        width: 100%;
        height: 100%;
        text-decoration: none;
        &:hover,
        &.active{
          background: #99CCFF;
          color: #333;
        }
        span {
          display:table-cell;
          vertical-align:middle;
          color: $color-txt--white;
        }
      }
    }
  }
}

/*===============================

　SP

　　1.conditional
　　2.result

================================*/
@media only screen and (max-width: 767px) {

  /*
  　1.conditional
  ================================*/
  .conditional {
    &__list {
      display: block;
      &__item {
        width: 100%;
        &:nth-child(odd) {
          padding: 15px 0;
        }
        &:nth-child(even) {
          padding: 15px 0;
        }
      }
    }
  }

  /*
  　2.result
  ================================*/
  .result {
    &__item {
      padding: 20px 30px;
      &-detail {
        &:nth-child(odd) {
          width: 103px;
        }
        &-name {
          padding-bottom: 10px;
        }
        &-mail {
          display: block;
          width: 32px;
          object-fit: scale-down;
          padding-top: 10px;
        }
      }
    }
  }
  .pager {
    &__list {
      padding: 15px 30px;
      &-item {
        display: none;
        &.pre,
        &.next {
          display: block;
          width: 100%;
          text-align: center;
          a {
            width: 100%;
            text-align: center;
          }
        }
        &.pre span::after {
          content: "　前の10件へ";
        }
        &.next span::before {
          content: "次の10件へ　";
        }
      }
    }
  }
}